@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?ydb46m');
  src:  url('/fonts/icomoon.eot?ydb46m#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?ydb46m') format('truetype'),
    url('/fonts/icomoon.woff?ydb46m') format('woff'),
    url('/fonts/icomoon.svg?ydb46m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-management:before {
  content: "\e900";
}
.icon-basic-information:before {
  content: "\e901";
}
.icon-confirm:before {
  content: "\e902";
}
.icon-hamburger:before {
  content: "\e903";
  color: #fff;
}
.icon-hamburger-close:before {
  content: "\e904";
  color: #fff;
}
.icon-identity-details:before {
  content: "\e905";
}
.icon-money-transfer:before {
  content: "\e906";
}
.icon-otp-verification:before {
  content: "\e907";
}
.icon-profile:before {
  content: "\e908";
}
.icon-secure-banking:before {
  content: "\e909";
}
.icon-security-setup:before {
  content: "\e90a";
}
