@media (max-width: 991px) {
  .hero-inner {
    display: flex;
    align-items: center;
    text-align: center;
    img.content-img {
      max-height: 250px !important;
    }
  }
  .hero-row {
    gap: 100px;
  }
}

@media (max-width: 768px) {
  .signup-steps-ui {
    flex-direction: column;
    gap: 1.5rem;
  }
}
