@use "../../assets/css/partials/base";

.site-logo {
  height: 2.25rem;
}

.offcanvas-logo {
  height: 1.8rem;
}

.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px;
  z-index: 1000;

  button.navbar-toggler {
    border: none;
    transition: all ease-in-out 0.3s;
    i.icon-hamburger{
      font-size: 1.5rem;
    }

    &:focus,
    &:focus-visible,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
    
  }

  .navbar-nav {
    li {
      a {
        text-transform: capitalize;
        color: base.$white-color;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 5px;
        font-size: 1.1rem;
        transition: all ease-in-out 0.3s;
      }

      &:not(:first-child) {
        margin-left: 2.5rem;
      }
      &:hover {
        a {
          background-color: rgba(255, 255, 255, 1);
          color: base.$black-color;
        }
      }
    }
  }
}

.offcanvas {
  background-color: base.$uicore-dark-color;
  min-height: 100vh;

  .btn-close {
    --bs-btn-close-bg: none;
    opacity: 1;
    transition: all ease-in-out 0.3s;

    &:focus,
    &:focus-visible,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
    i.icon-hamburger-close{
      font-size: 1.5rem;
    }

  }

  .navbar-nav {
    padding-top: 3rem;

    li {
      text-align: center;
      a {
        text-transform: capitalize;
        position: relative;
        margin-bottom: 1rem;
        color: base.$white-color;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all ease-in-out 0.3s;
        background-color: rgba(255, 255, 255, 0);
      }

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
      &:hover {
        a {
          border-radius: 5px;
          color: base.$black-color;
          background-color: rgb(255, 255, 255, 1);
        }
      }
    }
  }
}



.navbar.scrolled {
  background-color: base.$uicore-dark-color;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
