@use "../../assets/css/partials/base";

.site-logo {
  height: 2.25rem;
}


.offcanvas-logo {
  height: 1.8rem;
}

.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px;
  z-index: 1000;

  .navbar-toggler {
    border: none;
    color: base.$black-color;
    transition: all ease-in-out 0.3s;

    &:focus,
    &:focus-visible,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }

    &:hover {
      color: purple;
    }
  }

  .navbar-nav {
    li {
      a {
        text-transform: capitalize;
        color: base.$white-color;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 5px;
        font-size: 1.1rem;
        transition: all ease-in-out .3s;
      }

      &:not(:first-child) {
        margin-left: 2.5rem;
      }
      &:hover {
        a {
          background-color: rgba(255, 255, 255, 1);
          color: base.$black-color;
        }
      }
    }
  }
}

.offcanvas {
  background-color: #050505;
  min-height: 100vh;

  .btn-close {
    --bs-btn-close-bg: none;
    opacity: 1;
    transition: all ease-in-out 0.3s;

    &:focus,
    &:focus-visible,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }

    &:hover {
      color: purple;
    }
  }

  .navbar-nav {
    padding-top: 3rem;

    li {
      text-align: center;
      a {
        text-transform: capitalize;
        position: relative;
        margin-bottom: 1rem;
        color: base.$white-color;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all ease-in-out 0.3s;
        background-color: rgba(255, 255, 255, 0);
      }

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
      &:hover {
        a {
          border-radius: 5px;
          color: base.$black-color;
          background-color: rgb(255, 255, 255, 1);
        }
      }
    }
  }
}
